.A1 {
    width:100px;
    height:100px;
    border:1px solid;
    background: lawngreen;
}
.A2{
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
}
.A3{
    width:100px;
    height:100px;
    border:1px solid;
    background: lawngreen;
}
.A4 {
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
}
.A5{
    width:100px;
    height:100px;
    border:1px solid;
    background: lawngreen;
}
.A6{
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
}
.A7 {
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
    order: -6;
}
.A8{
    width:100px;
    height:100px;
    border:1px solid;
    background: lawngreen;
}

.wrapper{
    display: flex;
}