.A1 {
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
}
.A2{
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(0, 247, 49);
}
.A3{
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(238, 255, 2);
}
.A4 {
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(17, 255, 0);
}
.A5{
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(238, 255, 0);
}
.A6{
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(0, 242, 97);
}
.A7 {
    width:100px;
    height:100px;
    border:1px solid;
    background: yellow;
    order: -6;
}
.A8{
    width:100px;
    height:100px;
    border:1px solid;
    background: rgb(0, 255, 76);
}

.wrapper{
    display: flex;
}